<%- include('partials/header') -%>
<div class="flex self-center mt-10 shadow-xl ">
  <div class="flex flex-row p-5">
    <div class="picture basis 3/4">
      <img class=" h-96 w-80" src="<%= post.image%>" />
    </div>

    <div class="basis 1/4 self-center ml-5 p-5">
      <h2 class="font-bold"><%= post.title %></h2>
      <div class="flex justify-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>

      <h3 class="col-3">Likes: <%= post.likes %></h3>

      <div class="col-3 mt-5">
        <p><%= post.caption %></p>
      </div>
    </div>
    

    
  </div>
</div>

<div class="flex justify-center mt-10 gap-5">
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
  <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div>

<%- include('partials/footer') -%>
