<%- include('partials/header') -%>
<div class="container relative">
  <div class="row mt-5">
      <div class="col-6">

          <div class="flex flex-col justify-center">
              <div class="profile-pic flex justify-center"><img class="h-32 w-32 border-2 border-indigo-600 rounded-full text-center"><%=user.profilePicture %></div>
              <p class="font-bold text-center"><%= user.userName %></p>
              <p class="text-center"> <%= user.email %></p>
              <a href="/logout" class="text-sm text-indigo-600 italic text-center">Logout</a>
          </div>

          <div id="post-box" class="absolute inset-0 mt-5 flex flex-row justify-center items-center hidden">
            
            <form class="border-solid border-2 border-indigo-600 rounded-lg bg-indigo-100 w-64 p-4 text-center"action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="imgUpload" class="form-label text-center text-sm">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>

              <div class="mb-3">
                <textarea placeholder="Enter caption"class="form-control border-solid border-2 border-indigo-300 rounded-lg" id="caption" name="caption"></textarea>
              </div>
             
              <button type="submit" class="btn btn-primary text-center text-white border-solid border-2 border-white bg-indigo-300 rounded-lg p-4" value="Upload">Post</button>
            </form>
          </div>
      </div>
      <div class="">
        <div class="myPosts">
          <ul class="row list-unstyled flex flex-row gap-5 justify-center flex-wrap">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= posts[i]._id%>">
                
                <img class="object-scale-down h-80 w-64" src="<%= posts[i].image%>">
              </a>
            </li>
          <% } %>
          </ul>
        </div>
      </div> 
      
      <div class="mt-10 flex justify-center gap-5">
        <a class="text-center p-4 mb-1 text-3xl text-indigo-600 font-bold border border-indigo-600 rounded-full" href="/feed">/></a>
        <button id="add-post"class="text-center p-4 mb-1 text-3xl text-indigo-600 font-bold border border-indigo-600 rounded-full">+</button>
      </div>

    </div>
  </div>
</div>

<script src="script.js" type="text/javascript"></script>
<%- include('partials/footer') -%>